.background {
  viewport-fill: black;
}
#dateText {
  font-size: 30;
  font-family: System-Regular;
  text-length: 45;
  text-anchor: middle;
  x: 50%;
  y: 10%;
  fill: gray;
}

#hoursMinutesText {
  font-size: 90;
  font-family: System-Regular;
  text-length: 35;
  text-anchor: middle;
  x: 50%-20;
  y: 50%+20;
  fill: lime;
}

#secondsText {
  font-size: 45;
  font-family: System-Regular;
  text-length: 35;
  text-anchor: end;
  x: 95%;
  y: 50%+20;
  fill: lime;
}

#heartRateText {
  font-size: 30;
  font-family: System-Regular;
  text-length: 35;
  text-anchor: start;
  x: 5%;
  y: 90%;
  fill: red;
}

#batteryText {
  font-size: 30;
  font-family: System-Regular;
  text-length: 35;
  text-anchor: end;
  x: 95%;
  y: 90%;
  fill: white;
}